* {
    box-sizing: border-box;
}

body {
    width: 1200px;
    margin: auto;
    background-color: #6B0504;
}

header {
    background-color: #001514;
    color: #FFBF46;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}

h1 {
    color:#FFBF46;
    font-size: 50px;
}

#images-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #001514;
}

h2 {
    color: #FFBF46;
    align-items: center;
    background-color: #001514;
    width: 300px;
    text-align: center;
    margin: 50px auto;

    
}


img {
    width: 100%;
    height: 400px;
}

#viewResult {
    margin: auto;
    width: 100%;
    gap: 20px;
    margin-bottom: 50px;
}

section button {
    width: 100px;
    height: 50px;
    background-color: #001514;
    color:#FFBF46; 
    font-size: medium;
}

section ul {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #001514;
    color:#FFBF46;
    font-size: larger;
    padding: 15px 0;
    height: 400px;
    padding-left: 150px;
}


footer {
    background-color:  #001514;
    padding-top: 10px;
    text-align: center;
    height: 100px;
    margin-bottom: 50px;
}

footer p {
    color: #FFBF46;
    text-transform: capitalize;
}

#resultChart {
   margin-bottom: 50px;
   background-color: #001514;
   width: 100%;
   height: 400px;
}

